.LoginPage {
    text-align: center;
  }
  
  
  .LoginPage-header {
    background-color: #06173a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .LoginPage-link {
    color: #61dafb;
  }